######################################################################
# Variables used on first time initialization of the Canvas database

# E-mail address used for default administrator login
CANVAS_LMS_ADMIN_EMAIL=

# Password for default administrator login
CANVAS_LMS_ADMIN_PASSWORD=

# Account name seen by users, usually your organization name
CANVAS_LMS_ACCOUNT_NAME=

# opt_in, opt_out, or anonymized
CANVAS_LMS_STATS_COLLECTION=opt_out

######################################################################

# Password to the PostgreSQL database
DBPASS=geheim

# Rails environment (test, development, production). Should not be changed
RAILS_ENV=production
