######################################################################
#
# You only need to set the values in section 1 to get the system up
# and running on your local machine.
#

######################################################################
#
#                       S E C T I O N   #   1
#

# Variables used on first time initialization of the Canvas database

# E-mail address used for default administrator login
CANVAS_LMS_ADMIN_EMAIL=

# Password for default administrator login
CANVAS_LMS_ADMIN_PASSWORD=

# Account name seen by users, usually your organization name
CANVAS_LMS_ACCOUNT_NAME=

# Usage data gathering: opt_in, opt_out, or anonymized
CANVAS_LMS_STATS_COLLECTION=opt_out


######################################################################
#
#                       S E C T I O N   #   2
#

# Domain name
DOMAIN=canvas.example.com

# Password to the PostgreSQL database
DBPASS=geheim

# Rails environment (test, development, production). Should not be changed
RAILS_ENV=production

# Your SSL certificate. The format is the contents of a .pem file with
# newlines substituted with percent characters (%).
SSL_CERT=

# SAML configuration
SAML_ENTITY_ID=
SAML_CONTACT_NAME=
SAML_CONTACT_EMAIL=

# Outgoing email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_ENABLE_STARTTLS_AUTO=true
EMAIL_OPENSSL_VERIFY_MODE=none
EMAIL_AUTHENTICATION=plain
EMAIL_DOMAIN=smtp.gmail.com
EMAIL_USER_NAME=no-reply@example.com
EMAIL_PASSWORD=account-password
OUTGOING_EMAIL_ADDRESS=no-reply@example.com
OUTGOING_EMAIL_NAME=Example

# Git (development only)
GIT_AUTHOR_NAME=
GIT_AUTHOR_EMAIL=
