%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  %body
    .container
      %h1
        Matematikk-MOOC
      = yield
    %script(src="http://code.jquery.com/jquery.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
